version: '3.8'

services:
  frontend:
    build:
      context: frontend/
      dockerfile: Dockerfile
    ports:
      - "80:5000"
    restart: unless-stopped
    env_file: 
      - .env
  
  backend:
    build: 
      context: backend/
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped
    env_file:
      - .env
